$bp-2xl: 1440px;
$bp-xl: 1280px;
$bp-lg: 1024px;
$bp-md: 768px;
$bp-sm: 360px;
$bp-xs: 320px;

// 1440px+
@mixin xxl-only {
  @media (min-width: $bp-2xl) {
    @content;
  }
}

// 1281px - 1440px
@mixin xxl {
  @media (max-width: #{$bp-xxl}) {
    @content;
  }
}

// 1025px - 1280px
@mixin xl {
  @media (max-width: #{$bp-xl}) {
    @content;
  }
}

// 769px - 1024px
@mixin lg {
  @media (max-width: #{$bp-lg}) {
    @content;
  }
}

// 361px - 768px
@mixin md {
  @media (max-width: #{$bp-md}) {
    @content;
  }
}

// 320px - 360px
@mixin sm {
  @media (max-width: #{$bp-sm}) {
    @content;
  }
}